{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}

{% block body %}
    <a href="{{ path('app_crypto_currency_index') }}">Crypto-Monnaie</a>
    <br>
    <a href="{{ path('app_user_index') }}">Utilisateur</a>
    <br>
    <a href="{{ path('app_article_index') }}">Article</a>
    <br>
    <a href="{{ path('app_commentary_index') }}">Commentaire</a>






{% endblock %}
