<form method="post" action="{{ path('app_commentary_delete', {'id': commentary.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commentary.id) }}">
    <button class="btn btn-lg btn-danger">Supprimer le commentaire</button>
</form>
