{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{{ form_start(form) }}
    <div class="w-75">
        {{ form_widget(form) }}
    </div>
    <br>
    <button class="btn btn-success w-50">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
