{{ form_start(form) }}
    {#{ form_widget(form) }#}
    <div class="m-2">
        {{form_row(form.titre)}}
    </div>
    <div class="m-2">
        {{form_row(form.content, {
            label: 'Contenu de l\'article'
        })}}
    </div>
    <div class="m-2">
        <button class="btn btn-lg btn-success w-100">Publier</button>
    </div>
{{ form_end(form) }}
