{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
<div class="text-center">
    <h1 class="display-3">Ecrire un article sur la crypto : {{crypto.name}}</h1>
</div>
<div class="d-flex justify-content-center">
    <div class="w-75 p-3 border border-3 ">
        {{ include('article/_form.html.twig') }}
    </div>
</div>

{% endblock %}
