<form method="post" action="{{ path('app_subscribe_delete', {'id': subId}) }}" onsubmit="return confirm('Etes vous sûr de vouloir vous désabonner ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subId) }}">
    <button class="btn btn-danger">{{'Se désabonner'|trans }}</button>
</form>
